<footer>
  <ul>
    <span>About</span>
    <li>Explore</li>
    <li>Terms</li>
    <li>Help</li>
    <li>Contact Us</li>
  </ul>
  <ul>
    <span>Some Stuff Here</span>
    <li>Something</li>
    <li>Else</li>
    <li>Here</li>
    <li>That's Right</li>
  </ul>
  <ul>
    <span>Follow Us</span>
    <li>Github</li>
    <li>Instagram</li>
    <li>Linkedin</li>
    <li>Facebook</li>
  </ul>
  <div> © Katie So 2018 </div>
</footer>
