<footer>
  <ul>
    About
    <li>Explore</li>
    <li>Terms</li>
    <li>Help</li>
    <li>Contact Us</li>
  </ul>
  <ul>
    More
    <li>Github</li>
    <li>Instagram</li>
    <li>Linkedin</li>
    <li>Facebook</li>
  </ul>
</footer>
