<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap css -->
  <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- custom styles -->

  <!-- jquery -->
<link href="https://fonts.googleapis.com/css?family=Changa|Signika+Negative" rel="stylesheet">
  <script type="text/javascript" script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" script src="/scripts/app.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  href="styles/main.css">
  <title>ArtsyBiz</title>
</head>
