<header id="header2">

  <p id="logo">ArtsyBiz</p>
  <% if(!user) { %>
  <div id="userTrue">
    <span id="loginNav">
      <a href="/userlog">Planner</a>
      <a href="/vendorlog">Artist</a>
    </span>
  </div>

  <% } else { %>

    <div id="userTrue">
      <span id="loginNav">
        <a href="/search">Search</a>
        <a href="/profile" id="profile">Profile</a>
        <a href="/logout">Log out</a>
        <input type="hidden" id="currentUser" value="<%= user._id %>">

      </span>
    </div>
  <% } %>
</header>



<header>

  <span id="logo">ArtsyBiz</span>
  <% if(!user) { %>
  <!-- <div id="userTrue"> -->
    <span id="loginNav">
      <a href="/">Planner</a>
    </span>
    <span id="loginNav">
      <a href="/artist">Artist</a>
    </span>

  <!-- </div> -->

  <% } else { %>

    <!-- <div id="userTrue"> -->
      <span id="loginNav">
        <a href="/search">Search</a>
      </span>
      <span id="loginNav">
        <a href="/profile" id="profile">Profile</a>
      </span>
      <!-- <span id="loginNav">
        <a href="/logout">Log out</a>
      </span> -->
      <input type="hidden" id="currentUser" value="<%= user._id %>">

    <!-- </div> -->
  <% } %>
</header>
