
  <div class="formcontainer">

        <h2>Sign Up</h2>
        <br>
        <form method="POST" class="formstyle" action="partials/vendorsignup">
            <input type="text" name="name" placeholder="Your Name">
            <input type="text" name="username" placeholder="Username" autofocus>
            <input type="text" name="email" placeholder="Email" autofocus>
            <input type="password" name="password" placeholder="Password">
            <input type="hidden" name="isVendor" value="true"/>
            <select name="artist" placeholder="Hairstylist">
              <option value="" disabled selected>Select your artistry</option>
              <option value="Make-Up">Make-Up Artist</option>
              <option value="HairStylist">HairStylist</option>
              <option value="DJ">DJ</option>
            </select>
            <select name="location" placeholder="Location">
              <option value="" disabled selected>Location</option>
              <option value="San Francisco">San Francisco CA</option>
              <option value="Oakland">Oakland CA</option>
            </select>
            <input type="text" name="rate" placeholder="Rate: $500 per event" autofocus>
            <select name="picture" placeholder="picture" >
              <option value="https://sheltered-forest-14553.herokuapp.com/images/dj.jpg">DJ </option>
              <option value="https://sheltered-forest-14553.herokuapp.com/images/hair.jpg">Hair Stylist </option>
              <option value="https://sheltered-forest-14553.herokuapp.com/images/make_up.jpg">Make Up Artist </option>
              <option value="https://sheltered-forest-14553.herokuapp.com/images/somebackground.jpg">Other </option>
            </select>
            <!-- <input type="text" name="picture" placeholder="picture" value="images/person.png" autofocus> -->

            <input type="submit"  value="Sign Up">
        </form>
  </div>
