
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Sign Up</h2>
        <br>
        <form method="POST" action="partials/vendorsignup">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
            <input type="hidden" name="isVendor" value="true"/>
          </div>
          <div class="form-group">
            <select name="artist" class="form-control" placeholder="Hairstylist">
              <option value="Make-Up">Make-Up Artist</option>
              <option value="HairStylist">HairStylist</option>
              <option value="DJ">DJ</option>
            </select>
          </div>
          <div class="form-group">
            <select name="location" class="form-control" placeholder="San Francisco CA">
              <option value="San Francisco">San Francisco CA</option>
              <option value="Oakland">Oakland CA</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="rate" class="form-control" placeholder="Rate: $500 per event" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="picture" class="form-control" placeholder="picture" value="images/person.png" autofocus>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Sign Up">
          </div>
        </form>
      </div>
    </div>
  </div>
