<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header2 %>
    <% include ../views/landing-body %>
    <% include ../views/partials/footer %>
  </body>
</html>
