<section class="landing-container container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-8 hero-description"><h2>Look for that perfect</h2><br><h2>artist for the job. </h2></div>
      <div class="col-md-4 signup-container">
        <% include ../views/partials/usersignup %>

      </div>
    </div>
  </div>

</section>
<section class="artsy-info ">
  <h3>How does ArtsyBiz work?</h3>

    <div class="container">
      <div class="row">

        <div class=" col-lg-6">
          <img src="../images/icon1.png" alt="artist network">
          <span class="findining-label">Find foodtrucks near you</span>
          <p class="findining-info-content">Search for your next mobile dining experience. Enter a address near you to get started!</p>
        </div>

        <div class=" col-lg-6">
          <img src="../images/icon2.png" alt="hire a artist">
          <span class="findining-label">Let foodies know your location</span>
          <p class="findining-info-content">Drive traffic to your business by providing your location. Just signup or log-in to enter your location.</p>
        </div>
      </div>
    </div>
</section>
