<section class="landing-containerv container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-8 hero-description"><h2>Earn cash doing what you love.</h2></div>
      <div class="col-md-4 signup-container">
        <% include ../views/partials/vendorsignup %>

      </div>
    </div>
  </div>

</section>
<section class="artsy-info">

    <div class="container">
      <div class="row">
        <h4>How does ArtsyBiz work?</h4>
      </div>
      <div class="row">
        <div class="col-lg-6 landing-description">
          <img src="../images/icon1.png" alt="artist network" class="landing-icon">
          <div>
            <span class="landing-label">Opportunities to artist</span>
            <p class="landing-info-content">
              We give artist opportunities to network and work with event planners.  Whether your goal is to earn income or just expanding your portfolio, we’ve got you covered.
            </p>
          </div>
        </div>

        <div class="col-lg-6 landing-description">
          <img src="../images/icon2.png" alt="hire a artist" class="landing-icon">
          <div>
            <span class="landing-label">Hire talented artist for your project</span>
            <p class="landing-info-content">
              We understand that finding the right talent for your project is difficult, so ArtsyBiz is commited to giving you the tools you need to find that creativeness individual for your project.
            </p>
          </div>
        </div>

      </div>
    </div>
</section>
