<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
<body>
  <% include ../views/partials/header %>
  <nav>
  <!-- <% include ../views/partials/nav %> -->
  </nav>

  <p>Hello <%= user.name%>, what would you like to do?</p>

  <input id="rate" type="submit" value=" Rate my Artsy">
    <div id="hidden_rate"></div>
    <div id="rateArtsy"></div>

    <% include ../views/partials/footer %>

</body>
</html>
