<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
<body>
  <% include ../views/partials/header %>
  <nav>
  <!-- <% include ../views/partials/nav %> -->
  </nav>
  <div id="pagetitle">
    <h3>Hello <%= user.name%>, Please review:</h3>
  </div>
  <!-- <input id="rate" type="submit" value=" Rate my Artsy"> -->

    <div id="rateArtsy" class="reviewme"></div>

    <% include ../views/partials/footer %>

</body>
</html>
