<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
<body>
  <% include ../views/partials/header %>
  <div id="pagetitle">
    <h3>Hello <%= user.name%>, Please review:</h3>
  </div>
    <div id="rateArtsy" class="reviewme"></div>
    <% include ../views/partials/footer %>
</body>
</html>
