<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
<body>
    <% include ../views/partials/header %>

  <main>

<div id="thanktitle">
  <h3>Thank you for hiring our Artsy! This Artsy is waiting for your review!</h3>
</div>

<div id="vendorresults"></div>
  </main>



  <% include ../views/partials/footer %>

</body>
</html>
