
:root {
  --brand-dark-purple: #45295A;
  --brand-medium-purple: #622F64;
  --brand-orange: #FE8A51;
  --brand-yellow: #FEC781;
  --default-font: "Montserrat", sans-serif;
  --medium-size-font: 16px;
  --large-size-font: 1.125em;
  --x-large-size-font: 2em; /* 18px */
  --small-margin: .5em .5em;
  --medium-margin: 1em 1em;
  --large-margin: 2em 2em;
  --x-large-margin: 4em 4em;
  --small-space:.5em;
  --medium-space: 1em;
  --large-space: 2em;
  --x-large-space: 4em;

  --white-color: #fff;
  --grey-color: #c4c4c4;
  --light-grey-color: #E0E0E0;
  --black-color: #4F4F4F;
  --default-link-color: #622F64;
}

*,* :before, *:after {
 box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: var(--default-font);
  font-size: var(--medium-size-font);
}

a {
  color: var(--brand-medium-purple);
  font-weight: 700;
}

a:hover {
  color: var(--brand-orange);
}

/* Header */
#logo {
  font-size: var(--x-large-size-font);
  font-weight: 800;
  color: var(--brand-dark-purple);
  margin-right: var(--large-space);
}

header {
  padding: var(--medium-margin);
  margin-left: var(--x-large-space);
}

header a {
  font-weight: 400;
}

#loginNav {
  padding: var(--medium-margin);
  font-size: var(--large-size-font);
}

.landing-container {
  background-image: url("../images/background.png");
  background-size: auto;
  background-position: center top;
  background-attachment: fixed;
  height: 35em;
  display: flex;
  align-items: center;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: var(--x-large-size-font);
  color: var(--white-color);
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

h3 {
  font-size: var(--large-size-font);
  font-weight: 800;
}

.formstyle {
  margin-top: var(--medium-space);
}

.formstyle input {
  font-size: var(--medium-size-font);
  padding: var(--small-margin);
  height: auto;
  border-radius: var(--large-space);
}

.signup-container {
  background-color: var(--white-color);
  padding: var(--large-margin);
  border-radius: .125em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button{
  background-color: var(--brand-medium-purple);
  color: var(--white-color);
}

@media screen and (max-width: 750px){
  .hero-description{
    display: none;
  }
  header {
    margin-left: var(--small-space);
  }

  #logo {
    margin-right: var(--small-space);
  }
}
